<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarCoder.RestSharp.Portable" version="3.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="FubarCoder.RestSharp.Portable.Core" version="3.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="3.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Plugin.Permissions" version="1.2.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugins.Settings" version="2.5.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.1.8" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.1.8" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.180" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.Maps" version="2.3.3.180" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>